<style>
div#left-bar{
    border-radius:5px;
    border:1px solid #fff;
    height:600px;
    text-align: center;
    padding-left: 0;
}
#left-bar p{
        margin-top:10px;
}

</style>
<div id="left-bar">
    <ul class="nav nav-pills nav-stacked"> 
        <li role="presentation" class="active"><a ui-sref="home.writePage" ng-click="changeColor()">写信</a></li>
        <li role="presentation"><a ui-sref="home.inbox" ng-click="changeColor()">收件箱</a></li>
        <li role="presentation" ><a ui-sref="home.outbox" ng-click="changeColor()">发件箱</a></li>
    </ul>
</div>